*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html {
    width: 100%;

}


@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Regular.ttf) format("truetype"),
         url(../fonts/Poppins-Regular.ttf) format("truetype");
  }
  
  * {
    font-family: poppins;
  }
  

    /* Body Begins */


    .body{
        display: flex;
        flex-direction: row;
        padding: 20px 50px;
    }


    .body__message{
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .body__image{
        display: flex;
        flex: 1;
        justify-content: flex-start;
    }

    .body__message--top{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .body__message--bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .message__title{
        color: #E11900;
        font-weight: 700;
        font-size: 32px;
        margin-top: 50px;
    }

    .message__content{
        font-size:24px;
    }

    /* Body Ends */


    /* Footer Begins */

    .footer{
        background-color: #E11900;
        padding: 7px 10px;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .footer__copy-text{
        color: white;
        position: absolute;
       
    }

    


 
    /* Footer Ends */



    /* Media Query */

    @media (max-width: 767px) {
        
        
        
        footer{
            display: none;
        }

        body{
            height: 100vh;
        }
       

        .body__image--main{
            width: 80%;
            
        }

        .body__image{
            display: flex;
            justify-content:center;
            /* margin-left: 10px; */
            order: 1;
            margin-bottom: 20px;
            
            
        }

        .body__message{
            order: 2;
        }

        .body{
            padding: 20px 20px;
          
            flex-direction: column;

        }

        .message__title{
            margin-top:0px;
            font-size:18px
        }
        
        .message__content{
            font-size: 14px;
        }
    }


    @media(width: 768px){
        
        
        footer{
            display: none;
        }

        body{
            height: 100vh;
        }
        
      
       .body__image--main{
            width: 80%;
            
        }

        .body__image{
            display: flex;
            justify-content:center;
            /* margin-left: 10px; */
            order: 1;
            margin-bottom: 20px;
            
            
        }

        .body__message{
            order: 2;
        }

        .body{
            padding: 20px 20px;
          
            flex-direction: column;

        }

        .message__title{
            margin-top:20px;
            font-size:28px
        }
        
        .message__content{
            font-size: 18px;
        }
    }


    @media(width: 1024px){
        
        footer{
            display: none;
        }

        body{
            height: 100vh;
        }
     
    
        .body__image--main{
            width: 80%;
            
        }

        .body__image{
            display: flex;
            justify-content:center;
            /* margin-left: 10px; */
            order: 1;
            margin-bottom: 20px;
            
            
        }

        .body__message{
            order: 2;
        }

        .body{
            padding: 20px 20px;
          
            flex-direction: column;

        }

        .message__title{
            margin-top:20px;
            font-size:40px
        }
        
        .message__content{
            font-size: 28px;
        }
    }

    @media (width:320px){
        .message__content{
            font-size: 12px;
        }

        .body__image--main{
            width: 80%;
            
        }

        .body__image{
            display: flex;
            justify-content:center;
            /* margin-left: 10px; */
            order: 1;
            margin-bottom: 20px;
            
            
        }

       
    }

    @media (width:280px){
        .message__content{
            font-size: 10px;
        }

        

        .body__image--main{
            width: 80%;
            
        }

        .body__image{
            display: flex;
            justify-content:center;
            /* margin-left: 10px; */
            order: 1;
            margin-bottom: 20px;
            
            
        }


    }

    @media (width:375px){
       .body{
           margin-top: 100px;
       }
    }

    @media (width:414px){
        .body{
            margin-top: 80px;
        }
     }

     @media (width:411px){
        .body{
            margin-top: 100px;
        }
     }
 
/*  */
   