@keyframes border {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
@keyframes slideIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}
@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Regular.ttf) format('truetype'),
         url(../fonts/Poppins-Regular.ttf) format('truetype');
}
*{
    font-family: poppins;
}

//Declaring variables
$primary_color : #EB2C3C;
$secondary_color: #121212;
.landing-search{
    margin-top: 30px;
}
.search-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
    &__item{
        border: 2px solid $primary_color;
        display: flex;
        align-items: center;
        margin: 0px 10px;
        width: 40%;
        padding: 10px 20px;
        border-radius: 8px;
        .ri-map-pin-fill{
            color: $primary_color;
        }
        i{
            color: $secondary_color;
        }
        #search{
            border: none;
            outline: none;
            width: 98%;
            font-size: 16px;
            margin: 0px 10px;
        }
        
    }
    a{
        text-decoration: none;
    }
    .ri-filter-line{
        font-size: 40px;
        color: $primary_color;
    }
    &__btn{
        background: $primary_color;
        border: 2px solid $primary_color;
        border-radius: 8px;
        color: white;
        padding: 12px 20px;
        &:hover{
            cursor: pointer;
        }
            
    }
}
body{
    background-image: url('../img/half-piece\ image.png');
    background-repeat: no-repeat;
    background-position: -1.5% 4%;
    margin: 0px;
    padding: 0px;
    .mobile-app{
        display: flex;
        background: #E11900;
        background-image: url('../img/order.png');
        background-repeat: no-repeat;
        background-position: 80% 120%;
        background-size: 350px 300px;
        color: white;
        padding:60px 60px;
        &__content{
            flex: 1;
            h3{
                width: 50%;
                font-size: 25px;
            }
            &__app-download{
                display: flex;
                &__link{
                    text-decoration: none;
                    color: white;
                    display: flex;
                    align-items: center;
                    background: #000000;
                    width: fit-content;
                    height: 48px;
                    margin-right: 20px;
                    padding: 0px 15px;
                    border-radius: 5px;
                    box-shadow: 2px 2px 2px black;
                    &__text{
                        h6{
                            margin: 0px;
                            font-size: 15px;
                        }
                        p{
                            margin: 0px;
                            font-size: 12px;
                        }
                    }
                    i{
                        font-size: 40px;
                    }
                }
            }
        }
        &__empty{
            flex: 1;
            
        }
    }
    footer{
        background-image: url('../img/Group\ 13.png');
        background-repeat: no-repeat;
        background-position: 102% 10px;
        padding: 40px 40px 0px;
        .description{
            width: 60%;
            h5{
                font-size: 36px;
                margin: 0px;
                color: $primary_color;
            }
            p{
                color: #BCBCBC;
                font-size: 20px;
            }
        }
        .footer-list{
            display: flex;
            flex-direction: column;
            width: 60%;
            h6{
                font-size: 18px;
                margin: 0px 0px 10px;
            }
            &__items{
                display: flex;
                justify-content: space-between;
                width: 25%;
                a{
                text-decoration: none;
                color: #7C7C7C;
                font-size: 18px;
                width: fit-content;
                &:hover{
                    border: none;
                }
                }
            }
        }
        .copyright{
            bottom: 0;
            color: #7C7C7C;
            font-size: 14px;
            margin: 20px 0px 0px;
        }
    }
}


//styling the nav bar
.nav-bar{
    display: flex;
    align-items: center;
    padding: 0px 40px;
    #hamburger{
        display: none;
        color: $primary_color;
        font-size: 30px;
    }
    
    &__logo{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex: 1.5;
        a{
            text-decoration: none;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 36px;
            color: $primary_color;
        }
    }
    &__list{
        flex: 1;
        display: flex;
        list-style: none;
        justify-content: space-between;
        font-size: 18px;
        line-height: 27px;
        &__item{
            padding: 8px 18px;
            a{
                text-decoration: none;
                color: $secondary_color;
                .ri-user-3-line{
                    background: $primary_color;
                    padding: 10px;
                    border-radius: 50%;
                    color: white;
                }
                &:hover{
                    color: $primary_color;
                }
            }
            &--active{
                a{
                    color: $primary_color;
                }
            }
            &--btn{
                background: $primary_color;
                border: 2px solid $primary_color;
                border-radius: 8px;
                &:hover{
                    background: white;
                    a{
                        color: $primary_color;
                    }
                }
                a{
                    color: white;
                }
            }
        }

    }
    .logged-in{
        flex: 2;
    }
}
// styling main
.food-stations{
    background: #e5e5e52c;
    padding: 5px 40px 0px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    .title{
        font-weight: bold;
        font-size: 19px;
        line-height: 24px;
        color: $primary_color;
        
        p{
            color: #C1C1C1;
            font-weight: normal;
            span{
                color: $primary_color;
            }
    }
    }
    &__menu{
        //  display: grid;
        //  grid-template-columns: 1fr 1fr 1fr;
        //  column-gap: 13.6%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
         margin-top: 55px;
        &__item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-decoration: none;
            margin-bottom: 10px;
            padding: 15px;
            width: 326px;
            &:hover{
                border-radius: 8px;
                animation-name: border;
                animation-duration: 0.1s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
            }
            &__card{
                background-size: cover;
                background-position: center;
                border-radius: 10px;
                height: 260px;
                width: 100%;
                
                &--CR{
                    background-image: url('../img/chicken-republic2.png');
                }
                &--cold-stone{
                    background-image: url('../img/coldstone2.png');
                }
                &--marketSquare{
                    background-image: url('../img/market-square.png');
                }
                &--dominos{
                    background-image: url('../img/dominos2.png');
                }
                &--genesis{
                    background-image: url('../img/genesis.png');
                }
                &--kilimanjaro{
                    background-image: url('../img/kilimanjaro2.png');
                }
                &--pizzahut{
                    background-image: url('../img/pizzahut.png');
                }
                &--food-hub{
                    background-image: url('../img/food-hub.png');
                }
                &--pizzamore{
                    background-image: url('../img/pizzamore-1.png');
                }
            }
            &__text{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                p{
                    color: $primary_color;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 36px;
                }
                i{
                    color: #3C3A3A;
                    font-size: 15px;
                    span{
                        color: $primary_color;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 680px){
    body{
        background-size: 20px;
        background-position: 0% 3%;
        .nav-bar{
            text-align: center;
            padding: 10px 10px;
            position: fixed;
            top: 0;
            background: white;
            width: 100vw;
            &__logo{
                justify-content: left;
            }
            &__list{
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
                animation-delay: 0s;
                animation-timing-function: ease-in-out;
                animation-direction: alternate;
                display: none;
                position: fixed;
                padding: 0px 0px;
                margin-top: 0px;
                width: 100%;
                height: 100vh;
                top: 50px;
                left: 0;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                background: $primary_color;
                &__item{
                    width: fit-content;
                    border-radius: 10px;
                   a{
                    display: block;
                    font-size: 20px;
                    color: white;
                    &:hover{
                        color: white;
                    }
                   }
                   &--active{
                       border: 2px solid white;
                   }
                }
            }
            i{
                flex: 1;
                text-align: right;
                display: block;
                font-size: 20px;
                font-weight: bold;
                cursor: pointer;
                margin-right: 20px;
            }
        }
        .search-box{
            margin-top: 80px;
            margin-bottom: 20px;
            flex-direction: column;
            width: 100%;
            &__item{
                width: 80%;
                #search{
                    font-size: 70%;
                }
            }
            &__btn{
                margin: 10px 0px;
                padding: 10px 30px;
                font-size: 100%;
            }
        }
        .food-stations{
            margin: 0px 0px 0px;
            padding: 5px 20px 0px;
            .title{
                text-align: center;
                h1{
                    font-size: 20px;
                }
                p{
                    font-size: 15px;
                }
            }
            &__menu{
                margin-top: 10px;
                &__item{
                    display: block;
                    text-decoration: none;
                    &__card{
                        height: 230px;
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                    }
                }
            }
        }
        .mobile-app{
            flex-direction: column;
            height: 500px;
            padding: 20px;
            &__empty{
                display: none;
            }
            &__content{
                h3{
                    width: 100%;
                    font-size: 22px;
                }
                &__app-download{
                    &__link{
                        img{
                            width: 45px;
                            height: 40px;
                        }
                        i{
                            font-size: 40px;
                        }
                        &__text{
                            p{
                                font-size: 10px;
                            }
                            h6{
                                font-size: 11px;
                            }
                        }
                    }
                }
            }
        }
        footer{
            background: none;
            height: auto;
            .description{
                width: 100%;
                height: 90%;
            }
            .footer-list{
                flex-direction: column;
            }
            .copyright{
                bottom: 0;
            }
        }
    }
}