@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Regular.ttf) format("truetype"), url(../fonts/Poppins-Regular.ttf) format("truetype");
}
  
*{
    font-family: poppins;
    margin: 0;
    padding: 0;
}



.forgot_password {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    overflow: hidden;
}

.forgot_password__image {
    background: url('../img/giant-burger.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 50vw;
}

.forgot_password__image a{
    display: inline-block;
    background-color: #E11900;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    height: fit-content;
    width: fit-content;
    margin: 20px;
    border-radius: 8px;
}

.forgot_password__form {
    width: 50vw;
    text-align: center;
    padding: 1rem 0rem;
}



input {
    width: 80%;
    height: 100%;
    border-radius: 14px;
    border-color: grey;
    border-style: solid;
    outline: none;
    padding: 2%;
    margin-bottom: 1rem; 
}

h1 {
    color: #E11900;
    font-weight: 1000;
    margin-bottom: 2rem;
}

.forgot_password__button {
    display: inline-block;
    text-decoration: none;
    background-color: #E11900;
    padding: 14px 0px;
    border-radius: 14px;
    color: white;
    width: 85%;
    border: none;
    margin-bottom: 1rem;
    cursor: pointer;
}



.forgot_password__text {
    font-size: small;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
}
input::placeholder{
    font-size: 16px;
}
input{
    font-size: 16px;
}

i {
    display: none;
}

#forgot_password_newPassword{
    display: none;
}

#forgot_password_cNewPassword{
    display: none;
}

@media screen and (max-width: 768px) {
    *{
        margin: 0;
        padding: 0;
    }
    
    .forgot_password__image{
        display: none;
    }

    .forgot_password{
        width: 100vw;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .go-back{
        display: block;
        font-size: 100px;
        height: 10vh;
        width: 100vw;
    }

    .go-back a{
        text-decoration: none;
        color: #E11900;
    }

    .go-back a i{
        display: block;
        font-size: 40%;
        padding: 10px;
    }

    .forgot_password__form{
        width: 100vw;
        height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    input, select {
        width: 80vw;
        height: fit-content;
        border-radius: 14px;
        border-color: grey;
        border-style: solid;
        padding: 7px 10px;
    }

    select{
        width: 84vw;
    }

    .forgot_password__text{
        padding: 10px;
        width: 85.5vw;
        border: none;
    }
}

#forgot_password_phone_::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }