@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Regular.ttf) format("truetype"), url(../fonts/Poppins-Regular.ttf) format("truetype");
}
  
*{
    font-family: poppins;
    margin: 0;
    padding: 0;
}

.sign-up {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    overflow: hidden;
}

.sign-up__image {
   background: url('../img/giant-burger.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 100vh;
   width: 50vw;
}

.sign-up__image a{
    display: inline-block;
    background-color: #E11900;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    height: fit-content;
    width: fit-content;
    margin: 20px;
    border-radius: 8px;
}

.sign-up__form {
    width: 50vw;
    text-align: center;
    padding: 1rem 0rem;
}


input, select {
    width: 80%;
    height: 100%;
    border-radius: 14px;
    border-color: grey;
    border-style: solid;
    outline: none;
    padding: 2%;
    margin-bottom: 1rem; 
}
select{
    width: 85%;
    border-width: 2px;
}

h1 {
    color: #E11900;
    font-weight: 1000;
    margin-bottom: 1rem;
}

.sign-up__button {
    display: inline-block;
    text-decoration: none;
    background-color: #E11900;
    padding: 14px 0px;
    border-radius: 14px;
    color: white;
    width: 85%;
    border: none;
    margin-bottom: 1rem;
    cursor: pointer;
}

.sign-up__link {
    text-decoration: none;
    color: #E11900;
}

.sign-up__text {
    font-size: small;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
}


#sign {
    text-align: right;
}

input::placeholder{
    font-size: 16px;
}
input{
    font-size: 16px;
}

i {
    display: none;
}

h5 {
    display: none;
    font-weight: 700;
}
br{
    display: none;
}

@media screen and (max-width: 768px) {
    *{
        margin: 0;
        padding: 0;
    }

    body {
        padding: 0;
    }

    .sign-up__image {
        display: none;
    }

    .sign-up{
        width: 100vw;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .go-back{
        display: block;
        font-size: 100px;
        height: 10vh;
        width: 100vw;
    }

    .go-back a{
        text-decoration: none;
        color: #E11900;
    }

    .go-back a i{
        display: block;
        font-size: 40%;
        padding: 10px;
    }

    .sign-up__form {
        width: 100vw;
        height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sign-up__form input, select {
        width: 80vw;
        height: fit-content;
        border-radius: 14px;
        border-color: grey;
        border-style: solid;
        padding: 7px 10px;
    }

    select{
        width: 88vw;
        padding: 10px;
    }

    .sign-up__text{
        padding: 10px;
        width: 85.5vw;
        border: none;
    }

    #signUpBtn{
        width: 88vw;
        border: none;
    }

 
}

    
#preloader{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    background: #fff url(../img/circle-loader-gif-2.gif) no-repeat center center;
    background-size: 15%;
}


#backupPhone::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#phone::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}