@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Regular.ttf) format("truetype"), url(../fonts/Poppins-Regular.ttf) format("truetype");
}
  
*{
    font-family: poppins;
    margin: 0;
    padding: 0;
}

.sign-up {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    overflow: hidden;
}

.sign-up__image {
   background: url('../img/giant-burger.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 100vh;
   width: 50vw;
}

.sign-up__form {
    width: 50vw;
    text-align: center;
    padding: 1rem 0rem;
}


input, select {
    width: 80%;
    height: 100%;
    border-radius: 14px;
    border-color: grey;
    border-style: solid;
    outline: none;
    padding: 2%;
    margin-bottom: 1rem; 
}
select{
    width: 85%;
    border-width: 2px;
}

h1 {
    color: #E11900;
    font-weight: 1000;
    margin-bottom: 1rem;
}

.sign-up__button {
    display: inline-block;
    text-decoration: none;
    background-color: #E11900;
    padding: 14px 0px;
    border-radius: 14px;
    color: white;
    width: 85%;
    border: none;
    margin-bottom: 1rem;
    cursor: pointer;
}

.sign-up__link {
    text-decoration: none;
    color: #E11900;
}

.sign-up__text {
    font-size: small;
    width: 80%;
    margin: auto;
    text-align: left;
}


#sign {
    text-align: right;
}


@media screen and (max-width: 768px) {
    *{
        margin: 0;
        padding: 0;
    }

    body {
        padding: 0;
    }

    .sign-up__image {
        display: none;
    }

    .sign-up__form {
        width: 100vw;
        text-align: center;
    }

    input, select {
        width: 80vw;
        border-radius: 14px;
        border-color: grey;
        border-style: solid;
        padding: 7px 10px;
    }

    select{
        width: 88vw;
        
    }

    .sign-up__button {
        background-color: #E11900;
        padding: 10px;
        border-radius: 14px;
        color: white;
        width: 85.5vw;
        border: none;
    }

    i {
        display: inherit;
        color: #E11900;
        font-size: 30px;
        float: left;
    }

 
}

    
#preloader{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    background: #000 url(../img/circle-loader-gif-2.gif) no-repeat center center;
    background-size: 15%;
}