@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Regular.ttf) format("truetype"), url(../fonts/Poppins-Regular.ttf) format("truetype");
}
  
*{
    font-family: poppins;
    margin: 0;
    padding: 0;
}

.sign-up {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    overflow: hidden;
}

.sign-up__image {
    /*background-image: url(../img/giant-burger.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;*/
    width: 50%;
    height: 98%;
    text-align: right;
}

.sign-up__form {
    width: 50%;
    text-align: center;
    padding: 1rem 0rem;
}

#burger {
    width: 95%;
    height: 90%;
    padding: 1.5rem 0rem;
}


input {
    width: 450px;
    height: 45px;
    border-radius: 14px;
    border-color: grey;
    border-style: solid;
    outline: none;
    padding-left: 1rem;
    margin-bottom: 1rem; 
}

h1 {
    color: #E11900;
    font-weight: 1000;
    margin-bottom: 1rem;
}

.sign-up__button {
    display: inline-block;
    text-decoration: none;
    background-color: #E11900;
    padding: 14px 0px;
    border-radius: 14px;
    color: white;
    width: 467px;
    border: none;
    margin-bottom: 1rem;
    cursor: pointer;
}

.sign-up__link {
    text-decoration: none;
    color: #E11900;
}

.sign-up__text {
    font-size: small;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    width: 450px;
    /* margin: 0; */
    margin: auto;
}


#sign {
    text-align: right;
}


@media screen and (max-width: 768px) {
    *{
        margin: 0;
        padding: 0;
    }

    body {
        padding: 0rem 1rem;
    }

    .sign-up__image {
        display: none;
    }

    .sign-up__form {
        width: 100%;
        text-align: center;
        padding-top: 1rem;
    }

    input {
        width: 83vw;
        height: 45px;
        border-radius: 14px;
        border-color: grey;
        border-style: solid;
        padding-left: 1rem;
    }

    #security {
        width: 89vw;
        height: 48px;
        border-radius: 14px;
        border-color: grey;
        border-style: solid;
        padding-left: 1rem;
    }
    
    .sign-up__button {
        background-color: #E11900;
        padding: 14px 0px;
        border-radius: 14px;
        color: white;
        width: 85.5vw;
        border: none;
    }

    i {
        display: inherit;
        color: #E11900;
        font-size: 30px;
        float: left;
    }

    .sign-up__text {
        font-size: small;
        padding: 0px;
        display: flex;
        justify-content: space-between;
        width: 450px;
        /* margin: 0; */
        margin: auto;
    }
    

    #skip {
        display: none;
    }
}

    
